@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Volkhov:ital@1&display=swap") * {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 50px;
  cursor: pointer;
  background-color: rgb(17, 35, 70);
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
}
.nav-list li {
  list-style: none;
  padding: 20px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
}
.nav-list {
  width: 50%;
  display: flex;
  align-items: center;
}
.rightnav {
  margin-top: 2px;
  width: 50%;
  text-align: right;
  margin-right: 90px;
  border: black;
}
#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid rgb(128, 77, 0);
  border-radius: 10px;
  margin-right: 0px;
}
.background {
  background: rgba(0, 0, 0, 0.7) url("../public/chicago.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
  margin: auto;
  height: 70%;
}
.firstSection {
  height: 100vh;
}
.firsthalf {
  margin-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondhalf {
  width: 30%;
}
.secondhalf img {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  margin: auto;
}
.text-big {
  font-size: 30px;
}
.text-small {
  font-size: 20px;
}
.btn {
  padding: 5px 5px;
  margin: 7px 0px;
  border: 3px solid black;
  border-radius: 10px;
  background: none;
  color: white;
  cursor: pointer;
}
.btn-sm {
  padding: 6px 10px;
  vertical-align: middle;
}

.secRight {
  height: 500px;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: auto;
  font-family: "Volkhov", serif;
}
.sectionSubTag {
  padding: 10px;
}
.sectionleft {
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  max-width: 90%;
  font-family: "Volkhov", serif;
}
.thumbnail img {
  border: 2px solid black;
  border-radius: 15px;
}
.contact {
  background-color: aliceblue;
  height: 34px;
}
.text-center {
  text-align: center;
}
.form {
  max-width: 344px;
  margin: auto;
}
.form input {
  width: 100%;
  border: 2px solid green;
  border-radius: 6px;
}
