* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
}
.nav-list li {
  list-style: none;
  padding: 20px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
}
.nav-list {
  width: 50%;
  display: flex;
  align-items: center;
}
.rightnav {
  width: 50%;
  text-align: right;
}
#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid rgb(128, 77, 0);
  border-radius: 10px;
}
.background {
  background: rgba(0, 0, 0, 0.7) url("../public/chicago.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
